name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  test:
    name: ${{ matrix.python-version }}-build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4

      - name: Create conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          cache-downloads: true
          cache-environment: true
          micromamba-version: 'latest'
          environment-file: ci/environment.yml
          create-args: |
            python=${{ matrix.python-version }}

      - name: Conda info
        run: conda info

      - name: Install roms-tools
        shell: micromamba-shell {0}
        run: |
           python - V
           python -m pip install -e . --no-deps --force-reinstall

      - name: Running Tests
        shell: bash -l {0}
        run: |
           python -V
           coverage run --rcfile=coverage.toml -m pytest --verbose roms_tools/tests/test_datasets.py roms_tools/tests/test_grid.py roms_tools/tests/test_topography.py roms_tools/tests/test_tides.py roms_tools/tests/test_surface_forcing.py roms_tools/tests/test_initial_conditions.py roms_tools/tests/test_vertical_coordinate.py roms_tools/tests/test_boundary_forcing.py roms_tools/tests/utils.py

      - name: Get coverage report
        shell: bash -l {0}
        run: |
          coverage report -m ; coverage xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          flags: unittests # optional
